:root {
  --color-text: #fff;
  --color-background: #141414;
  --color-placeholder: #94A3B8;
  --color-accent: #FF3700;
  --font-btn: 'Catamaran';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: 'Kulim Park', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
