:root {
  --color-white: #fff;
  --color-black: #000;
  --color-background-primary: #141414;
  --color-background-secondary: #2A2A2A;
  --color-placeholder-primary: #94A3B8;
  --color-placeholder-secondary: #737373;
  --color-accent: #FF3700;
  --font-primary: 'Kulim Park';
  --font-btn: 'Catamaran';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-white);
  background: var(--color-black);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: 'Kulim Park', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
