@import './base.css';

a {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-btn), sans-serif;
}

a:hover {
  color: var(--color-accent);
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.container {
  width: 100%;
  padding-left: calc((100% - 1440px)/2);
  padding-right: calc((100% - 1440px)/2);
}

.btn {
  font-family: var(--font-btn), sans-serif;
  height: 30px;
  width: 140px;
  border: var(--color-accent) 2px solid;
  border-radius: 6px;
  background: transparent;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  border-color: var(--color-background-secondary);
  color: var(--color-accent);
}

.btn:disabled {
  border-color: var(--color-placeholder-secondary);
  color: var(--color-placeholder-secondary);
  cursor: not-allowed;
}

.bg-green {
  background-color: #2d9b73;
}
.bg-red {
  background-color: #c82020;
}
.bg-blue {
  background-color: #207084;
}
.bg-purple {
  background-color: #734b9b;
}
.unselected {
  background-color: var(--color-background-secondary);
}

